{% extends "base.html" %}
{% load static %}

<!-- Код для отображения постов -->
{% block header %}
<!-- Проверяем аутеницифоран ли пользователь -->
 {% if request.user.is_authenticated %}
 <!-- Отображаем кнопку поделится идеей -->
 <a class="share" href="{% url 'create_post' %}">Поделиться сервисом</a>
 <!-- Отображаем иконку, котоаря перенапрвялет пользователя на обнволенеи своего аккаунта -->
 <a href="{% url 'edit' %}" class="edit-profile">Настройки</a>
<!-- Показываем картинку профиля пользователя -->
{% if request.user.profile and request.user.profile.photo %}
<a href="{% url 'dashboard' request.user.username %}"><img src="{{ request.user.profile.photo.url }}" alt="profile-photo" class="profile-photo"></a>
{% else %}
<a href="{% url 'dashboard' request.user.username %}"><img src="{% static 'img/profile-replace.png' %}" alt="profile-photo" class="profile-photo"></a>
{% endif %}


{%else %}
    <a class="login" href="{% url 'login' %}">Вход</a>
{% endif %}

{% endblock %}


<!-- BODY -->
{% block content %}
<div class="post-items">
    {% for post in posts %}
    <div class="post-item">
        <div class="post-title">
            {% if post.image %}
            <img src="{{post.image.url}}" alt="photo-services" class="post-item-logo">
            {% else %}
            <img src="{% static 'img/design-icon.png' %}" alt="photo-services" class="post-item-logo">
            {% endif %}
            <a href="{{post.get_absolute_url}}" class = "post-item-title">{{ post.title }}</a>
        </div>
        <p class="body"><b>Описание:</b> {{post.preview|safe}}</p>
    </div>
{% endfor %}
</div>

{% endblock content %}